/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* UTILITIES */
/* Colors */
:root {
    --header-title-color: #FF9614;
    --text-purple: #4E3969;
    --footer-bg: #7C69A4;
    --main-bg: #F6F5F3;
    --fb-icon: #1A77F3;
    --tw-icon: #009EFF;
    --ig-icon: #DF3D78;
    --pntr-yt-icon: #E62222;
}


/* COMMON */
/* Layout */
.container {
    width: 100%;
    padding: 0 20px;
}

main {
    background-color: var(--main-bg);
}

/* HEADER */
.header {
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.header-title {
    font-family: "Nerko One", cursive;
    font-size: 2.5rem;
    color: var(--header-title-color);
    text-shadow: 1px 1px 2px #332b23;
}

/* MAIN */
/* Recipe Section */
.recipe-section {
    padding-top: 40px;
}

.recipe-section .subtitle {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: #7f7f7f;
}

.recipe-title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: var(--text-purple);
    padding-top: 10px;
    padding-bottom: 20px;
}

.recipe-title span {
    display: none;
}

.recipe-section .card {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px  #d1d1d1;
}

.recipe-section iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: block;
}

.recipe-section .video-col,
.recipe-section .caption-col {
    width: 100%;
}

.caption-col {
    padding: 20px 30px;
    font-family: "Helvetiva Neue", sans-serif;
}

.caption-col h3 {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 30px;
}

.caption-list {
    list-style: none;
    font-size: 0.8rem;
    font-weight: 300;
}

.caption-list .list-col {
  padding-bottom: 10px;
}


/* Social-Media Section */
.sm-section {
    padding: 20px 0;
}

.sm-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sm-list a {
    color: inherit;
    text-decoration: none;
}

.sm-list span {
    display: none;
    font-family: "Helvetiva Neue", sans-serif; 
    font-size: 0.8rem;
    font-weight: 600;
}

.fb {
    color: var(--fb-icon);
}

.tw {
    color: var(--tw-icon);
}

.ig {
    color: var(--ig-icon);
}

.pntr,
.yt {
    color: var(--pntr-yt-icon);
}

.sm-list li {
    background-color: #ffffff;
    padding: 0.6rem 0.8rem;
    border-radius: 50px;
    box-shadow: 2px 2px 10px  #d1d1d1;
}

/* Banner */
.banner {
    width: 100%;
    display: none;
}

/* Presentation Section */
.pres-section {
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: "Helvetica Neue", sans-serif;
}

.pres-title {
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 10px;
}

.pres-section hr {
    width: 20%;
    border: 1px solid var(--header-title-color);
}

.pres-content img {
    display: block;
    padding: 20px 50px;
}

.pres-content p {
    font-weight: 300;
}

/* FOOTER */
.footer {
    background-color: var(--footer-bg);
    padding: 20px 0;
}

.flex-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-col,
.right-col {
    /* debug */
    background-color: #ffc0cb;
    border: 1px solid #000000;
    min-height: 60px;
    width: 200px;
}